<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Exporting a Private Key</title>

<!--(Meta)==========================================================-->

<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=575>
<meta name=layout-width content=745>
<meta name=date content="09 19, 2001 3:47:20 PM">


<!--(Links)=========================================================-->

<link rel="StyleSheet" href="JXhelp.css">



</head>

<!--(Body)==========================================================-->


<body>

<h1>Exporting a Private Key</h1>

<p>The password protecting the client's private key must be the same as 
 that used to protect the <span style="font-style: italic;"><I>clientcerts 
 </I></span>keystore file; therefore, you cannot change the keystore password 
 after entering the private key password. If you want to change the keystore 
 password, you must export the private key first, change the keystore password, 
 and then re-import the private key into the keystore. </p>

<p>&nbsp;</p>

<p>To export a private key:</p>

<p>&nbsp;</p>

<p>1. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->From 
 the Security Menu, choose Client Certificates.</p>

<p>&nbsp;</p>

<p>2. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Select 
 the client certificate that contains the private key that you want to 
 export, and then click the Export Private Key button.</p>

<p>&nbsp;</p>

<p>3. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Enter 
 the name of the file to which you want to export the private key, and 
 then click the Open button.</p>

<p>&nbsp;</p>

<p>4. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Enter 
 the keystore password, and then click OK.</p>

<p>&nbsp;</p>

<p>5. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Click 
 OK to close the dialog.</p>

<p>&nbsp;</p>

<h4>Related Topics</h4>

<p><a href="Adding_a_Certificate.htm">Adding a Certificate</a></p>

<p><a href="Adding_a_Private_Key.htm">Adding a Private Key</a></p>

<p><a href="Deleting_a_Certificate.htm">Deleting a Certificate</a></p>

<p><a href="Managing_Certificates.htm">Managing Certificates</a></p>

<p><a href="Setting_a_Keystore_Password.htm">Setting a Keystore Password</a></p>

<p><a href="Viewing_a_Certificate.htm">Viewing a Certificate</a> </p>

<p>
<hr>
<font size=-2>
&copy; 2002 Computer Associates International, Inc. (CA)
<br>All trademarks, trade names, service marks, and logos referenced herein
belong to their respective companies.
</font>
</body>

</html>
